:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  
  main {
    width: 100%;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  /* PARALLAX */
  
  .parallax {
    background-image: url("../images/PetFood.jpg");
    background-repeat: repeat;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* NAVBAR */
  
  .imgnav {
    width: 9vw;
    padding-left: 1vw;
  }
  
  .navanch {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    width: 12rem;
    height: 4rem;
    font-family: 'Lilita One', cursive;
    text-decoration: none;
    text-align: center;
    margin: 2rem;
    border: solid 1px white;
    border-radius: 0.7rem;
    background-color: rgb(112, 58, 68);
  }
  
  .navanch-active {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    -webkit-text-stroke: 1px white;
    width: 12rem;
    height: 4rem;
    background-image: url(../images/paw.png);
    background-size: repeat;
    font-family: 'Lilita One', cursive;
    text-decoration: none;
    text-align: center;
    margin: 2rem;
    border: solid 1px white;
    border-radius: 0.7rem;
    background-color: rgb(112, 58, 68);
  }
  
  /* CARROUSEL */
  
  .carousel .carousel-item {
    height: 40vh;
  }
  
  .imageCarrousel {
    object-fit: contain;
    object-position: 0% 70%;
    top: 0;
    left: 0;
    min-height: 30vh;
  }
  
  .h1carrousel {
    color: rgb(112, 58, 68);
    font-family: 'Lilita One', cursive;
    font-size: 3rem;
    -webkit-text-stroke: 2px white;
    padding-bottom: 0.5rem;
  }
  
  /* SECTIONS */
  
/*   .section1 {
    background-image: url("../images/PetAccessories.jpg");
    background-repeat: repeat;
    background-color: rgb(248, 197, 146);
    min-height: 60vh;
  }
  
  .section2 {
    background-image: url("../images/FoodAndToys.jpg");
    background-repeat: repeat;
    background-color: rgb(112, 58, 68);
    min-height: 60vh;
  } */

  .section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url("../images/PetAccessories2.jpg");
    background-size: cover;
    background-color: rgb(248, 197, 146);
    min-height: 70vh;
  }

  .imageDiv1{
    width: 17vw;
    background-color: rgb(248, 197, 146);
    border-radius: 3rem;
  }

  .farmaciaJuguetes{
    display: flex;
    flex-direction: column;
  }

  .darker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
  }

  p{
    width: 60vw;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .section2 {
    background-image: url("../images/PetAccessories2.jpg");
    background-repeat: repeat;
    min-height: 100vh;
  }

  .muchoTEXTO{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }

  .imageDiv2{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lilita One', cursive;
  }
  
  .div2MUCHOTEXTO{
    font-family: 'Lilita One', cursive;
  }

/* WAVE */

.wave{
  width: 100%;
  height: 25px;
  background: url(../images/wave.png) center;
  background-size: auto;
  position: absolute;
  bottom: -12px;
}

.waveSection{
  width: 100%;
  height: 25px;
  background: url(../images/wave.png) center;
  background-size: auto;
  position: absolute;
  bottom: 5.6rem;
}
  
  /* FOOTER */
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(48, 52, 52);
    height: auto;
    margin-top: auto;
  }

  .deliveryPago{
    display: flex;
    flex-direction: row;
  }

  .imageFooter{
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pFooter {
    flex-direction: row;
    color: white;
  }

  .datosFooter{
    color: white;
  }

  h3,h4{
    color: white;
  }
  